:root {
    --leafy-green: #596D48;
    --input-grey: #E5E7EB;
    --info-bg: #f9fafb;
    --header: auto;
    --footer: 200px;
    --main: calc(100vh - calc(var(--header) + var(--footer)));
    --main-font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@font-face {
    font-family: "Norse";
    src: url(./fonts/Norse-Bold.otf) format("opentype");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.images-container {
    width: min(100%, 50vw);
    height: 100vh;
}

.images-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo-bg {
    background: rgba(0,0,0,0.5);
    width: 100%;
    height: 150px;
    position: relative;
    top: -40rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo-container {
    width: 150px;
    height: 125px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.logo-container img {
    object-fit: contain;
}

.logo-container p {
    padding-top: 30px;
    color: white;
    font-size: 100px;
    font-family: Norse, 'Times New Roman', Times, serif;
}

#img-credits {
    color: white;
    position: relative;
    top: -12rem;
    margin: 0 auto;
    text-align: center;
}

.info-container {
    background: var(--info-bg);
    width: min(100%, 60vw);
    height: 100vh;
}

#header {
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    height: var(--header);
    width: 60%;
    margin-top: 15%;
}

p {
    font-weight: bold;
    font-size: large;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#form-container {
    background: #ffffff;
    height: var(--main);
    margin-top: 20px;
    box-shadow: 0px 5px 10px var(--input-grey);
    padding: 10px 10px 0px 40px;
}

#user-form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 40px;
}

.input-container {
    display: flex;
    flex-direction: column;
    width: 230px;
}

label {
    font-weight: 500;
    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-transform: uppercase;
}

input {
    border: var(--input-grey) solid 2px;
    border-radius: 4px;
    padding: 4px;
}

input:focus {
    box-shadow: 4px 4px 4px 2px var(--input-grey);
}

#signup-container {
    padding: 20px 0px 40px 40px;
    display: inline-flex;
    flex-direction: column;
    gap: 25px;
}

#signup-container button {
    color: white;
    background-color: var(--leafy-green);
    padding: 5px 10px;
    width: 200px;
    height: 50px;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 5px 10px grey;
    font-family: var(--main-font);
    font-size: 16px;
    font-weight: 600;
}

#signup-container a {
    color: var(--leafy-green);
}

#login-container {
    font-family: var(--main-font);
    font-size: 16px;
}