:root {
    --leafy-green: #596D48;
    --input-grey: #E5E7EB;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.images-container {
    background: blue;
    width: 40vw;
    height: 100vh;
    position: relative;
}

.images-container img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
}

.logo-container {
    background: black;
    opacity: 60%;
    width: 100%;
    height: 200px;
    position: absolute;
    top: 8rem;
}

.info-container {
    background: red;
    width: 60vw;
    height: 100vh;
}